body {
  color: green;
}

.container {
  background: aqua;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*ua: flex-flow: row wrap; */
  justify-content: space-between;
  /*marginnal lehet fixalni*/
  height: 600px;
  padding: 30px;
  width: 500px;
}

.box {
  background: yellow;
  border: 10px solid red;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 30px;
  font-weight: bold;
  order: 1;
  padding: 20px;
}

.first {
  flex-basis: 40%;
  flex-grow: 6;
  /*1es sulyozas és 6os lulyozás*/
  order: 66;
}
