body {
  background: url(http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg) no-repeat center center fixed;
  text-align: center;
}

.textinputbox {
  margin: 20px;
}
