body {
  color: green;
}

.container {
  background: aqua;
  box-sizing: border-box;
  height: 600px;
  padding: 30px;
  width: 500px;
}

.box {
  background: yellow;
  border: 10px solid red;
  box-sizing: border-box;
  float: left;
  font-weight: bold;
  font-size: 30px;
  margin-right: 20px;
  padding: 20px;
  width: 50%;
}

.clear-left {  
}
