body {
  background-color: #2B2D42;
  color: #8D99AE;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: ; 1.5;
  margin: 0;
}

.wrap {
  max-width: 80em;
  margin: 0 auto;
}

a {
  color: #EF233C;
  text-decoration: none;
}

a:hover {
  color:#8D99AE;
  text-decoration: none;
}

header {
  background-image:url(../img/img.jpg);
  background-position: center center;
  background-size: cover;
  background-blend-mode: lighten;
  font: 1.5em/1 'Roborto Slab', serif;
  max-width: initial;
  min-height: 350px;
  padding: 0;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 100px;
  padding-right: 500px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #EDF2F4;
  max-width: 700px;
  margin: 200px auto 0;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

blockquote {
   font-family: 'Roboto Slab';
   font-size: 3em;
   font: 1.5;
   background: #D90429;
   color: #EDF2F4;
   padding: 1em;
   position: relative;
   border-bottom: 4px solid;
 }

 section, blockquote {
   max-width: 700px;
   margin: 0 auto;
   padding: 1em 1em;
   border-top: 4px solid;
   border-top-color: #EDF2F4;
}

blockquote + section {
   border: none;
}

.sec1 {
  font-style: italic;
  font-size: 1.3em;
  border-top: 4px solid;
  border-top-color: #EDF2F4;
  border-top-width: think;
}

h2 {
   font-family: 'Roboto Slab';
   color: #EDF2F4;
   margin-top: 1em;
   text-transform: uppercase;
}

h3 {
   color: #EF233C;
   font-family: 'Roboto Slab';
   font-size: 1.4em;
   font-style: italic;
}

p {
  font: 1.2;
  line-height: 1.5;
  font-style: normal;
}

.fox {
  text-align: center;
}
